<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Modern Architecture | About</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|" rel="stylesheet" type="text/css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="style.css">

    <!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

</head>


<body>

    <div id="site-content">
        <div class="site-header">
            <div class="container">
                <a href="/" id="branding">
                    <img src="images/logo.png" alt="" class="logo">
                    <div class="logo-text">
                        <h1 class="site-title">MicaMiky Consult</h1>
                        <small class="site-description">Design your world</small>
                    </div>
                </a>
                <!-- #branding -->

                <!-- Default snippet for navigation -->
                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item"><a href="/">Home</a></li>
                        <li class="menu-item current-menu-item"><a href="about">About</a></li>
                        <li class="menu-item"><a href="/project">our Projects</a></li>
                        <li class="menu-item"><a href="/contact">Contact</a></li>
                    </ul>
                    <!-- .menu -->
                </div>
                <!-- .main-navigation -->

                <div class="mobile-navigation"></div>
            </div>
        </div>
        <!-- .site-header -->

        <main class="main-content">

            <div class="page">
                <div class="container">
                    <h2 class="entry-title">Micamiky consult was established in 2010, and has grown overtime to become an award winning and Reputable Architectural & Consulting firm located in Abuja, North-Central Nigeria.</h2>

                    <p>MicaMiky Consult is comprised of a team of highly qualified proffesionals who are very eager to always 
                        find an innovative way of always producing unique outcomes as requested by clients, in which preference is given
                        to excellence in design and execution & budget friendly but quality outcomes.
                    </p>

                    <figure class="align-left"><img src="dummy/single-image.jpg" alt="Single image"></figure>
                   
                    <hr class="separator">

                    <h2 class="sectiont-title">What can we do for you?</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="feature-numbered">
                                <div class="num">1</div>
                                <h2 class="feature-title">Design</h2>
                                <p>We offer quality building design service both 2D and 3D.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature-numbered">
                                <div class="num">2</div>
                                <h2 class="feature-title">Construction</h2>
                                <p>We specialize in Construction of any type of building.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature-numbered">
                                <div class="num">3</div>
                                <h2 class="feature-title">Consulting</h2>
                                <p>We also offer satisfiable project consulting services which includes Management of cost , Timeline, Materials and Client representative on site.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature-numbered">
                                <div class="num">4</div>
                                <h2 class="feature-title">Training</h2>
                                <p>We also specialize in Design software training such as Archi-cad , Atlantis , 3D max.</p>
                            </div>
                        </div>
                    </div>

                    <hr class="separator">

                    <main class="main-content">
                        <div class="fullwidth-block latest-projects-section">
                            <div class="container">
                                <h2 class="section-title">The Creative Team</h2>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="project">
                                            <figure class="project-thumbnail"><img src="dummy/thumb-1.jpg" alt="Project 1"></figure>
                                            <h3 class="project-title"><a href="#">Arch. Mike Oluyoko</a></h3>
                                            <small class="project-subtitle">Principal Architect– HND,PGD Arch., MSc.</small>
                                            <p>Micheal is the CEO and lead Architect of Micamiky consult ltd .
                                                He holds a Masters of Science in Architecture from Joseph Babalola University. Prior to this, he completed his Higher National Diploma from Federal  Polytechnic Idah  and Post Graduate Diploma in Architecture from the Federal University of Technology Akure.</p>
                                            <a href="#" class="more-link"><img src="images/arrow.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="project">
                                            <figure class="project-thumbnail"><img src="dummy/thumb-4.jpg" alt="Project 3"></figure>
                                            <h3 class="project-title"><a href="#">Kayode Yekeen</a></h3>
                                            <small class="project-subtitle">Architect – HND,PGD Arch., MSc., GMnia, QMS Lead Auditor</small>
                                            <p>Kayode is a certified Quality Management Auditor for ISO9001:2015 and is the principal partner of Micamiky consult ltd. 
                                                He holds a Masters of Science in Architecture from Joseph Babalola University. Prior to this, he completed his Higher National Diploma from Kaduna Polytechnic and Post Graduate Diploma in Architecture from the Federal University of Technology Minna.</p>
                                            <a href="#" class="more-link"><img src="images/arrow.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="project">
                                            <figure class="project-thumbnail"><img src="dummy/thumb-2.jpg" alt="Project 2"></figure>
                                            <h3 class="project-title"><a href="#">Timothy Tinuoye</a></h3>
                                            <small class="project-subtitle">Architect – Bsc</small>
                                            <p>Timothy lead the team of Architect on 3D and animation work  of Micamiky consult ltd .
                                                He holds a Bachelor's of Science in Architecture from Joseph Babalola University.</p>
                                            <a href="#" class="more-link"><img src="images/arrow.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="project">
                                            <figure class="project-thumbnail"><img src="dummy/thumb-3.jpg" alt="Project 4"></figure>
                                            <h3 class="project-title"><a href="#">Emmanuel Rapheal </a></h3>
                                            <small class="project-subtitle">Engineer  – HND</small>
                                            <p>Emmanuel is the  lead Engineer at  Micamiky consult ltd .
                                                He holds a Higher National Diploma in Civil Engineering from Federal  Polytechnic Idah.</p>
                                            <a href="#" class="more-link"><img src="images/arrow.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- .row -->
                            </div>
                            <!-- .container -->
                        </div>
            

                    <h2 class="section-title">testimonials</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <blockquote class="testimonial">
                                <p>To turn a swmampy ground into what it is today, beautiful. From the design to the execution, The sight 
                                    of creating such beautiful outcome out of nothing by MicaMiky earned Architcture more respect from me.
                                </p>
                                <cite>Ovation center Mgnt.</cite>
                            </blockquote>
                            <blockquote class="testimonial">
                                <p>I have always heard simple is better, but the outcome of silver valley Intl. was simply the best that i 
                                    could imagine. Wow!
                                </p>
                                <cite>Silver Valley Intl. Mgnt</cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .page -->

        </main>
        <!-- .main-content -->

        <footer class="site-footer">
            <div class="container">
                <div class="pull-left">

                    <address>
                        <strong>MicaMiky Consult Ltd.</strong>
                        <p>Plot 47A ebitu-ekiwe street jabi abuja</p>
                    </address>

                <a href="#" class="phone">+ 234 80 668 696 46</a>
                </div>
                <!-- .pull-left -->
                <div class="pull-right">

                    <div class="social-links">

                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>

                    </div>

                </div>
                <!-- .pull-right -->

                <div class="colophon">Copyright 2020 MicaMiky Consult. Designed by <a href="http://pyeramid.com/" title="http://pyeramid.com/"target="_blank">pyeramid</a>. All rights reserved.</div>

            </div>
            <!-- .container -->
        </footer>
        <!-- .site-footer -->
    </div>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>

</body>

</html>